@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Html.Raw(Model.WelcomeMessage)<a asp-page='/Recipes/Index'>Recipes</a></h1>
</div>
